<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tian.blog.dao.UserDao">
    <select id="findUsers" resultType="com.tian.blog.entity.User">
        SELECT email, nick_name, username FROM user
    </select>
</mapper>